html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

nav,
nav ul {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
}

nav {
    box-shadow: inset 0 0 0 1px rgba(102, 102, 102, 0.3);
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

nav ul li {
    display: table;
    width: 100%;
    height: calc(100% / 4);
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
    background: rgba(102, 102, 102, 0.5);
    -webkit-perspective: 0px;
    perspective: 0px;
    -webkit-transform: rotateX(-90deg) scale(0.5);
    transform: rotateX(-90deg) scale(0.5);
    -webkit-transition: all 0.3s ease 0.1s;
    transition: all 0.3s ease 0.1s;
}

nav ul li a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
}

#toggle {
    display: none;
}

#toggle + #toggle-btn,
.nav-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 3px;
    cursor: pointer;
}

#toggle + #toggle-btn {
    height: 40px;
    width: 40px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.5);
}

.nav-icon,
.nav-icon:before,
.nav-icon:after {
    position: absolute;
    height: 4px;
    width: 40px;
    margin: 18px 0;
    z-index: 900;
    border-radius: 3px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    background-color: #333333;
}

.nav-icon:before {
    content: "";
    margin-top: -18px;
}

.nav-icon:after {
    content: "";
    margin-top: 18px;
}

#toggle:checked ~ nav {
    opacity: 1;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

#toggle:checked ~ .nav-icon {
    background: rgba(255, 0, 0, 0);
}

#toggle:checked ~ .nav-icon:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    margin-top: 0;
}

#toggle:checked ~ .nav-icon:after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    margin-top: 0;
}

#toggle:checked ~ nav ul li {
    -webkit-transform: rotateY(0deg) scale(1);
    transform: rotateY(0deg) scale(1);
}
