    <div class="container">
    
    <img src="images/monash-sa-logo.png" alt="Responsive image" width="250" height="57" class="img-responsive"><br>
    
<h1>Administrator Page</h1><br>
   


<p>&nbsp;</p>
            

<div class="table-responsive">
<table class="table table-bordered">
  <tr>
    <th scope="col" class="info">Transaction ID:</th>
    <th scope="col" class="info">Student Name:</th>
    <th scope="col" class="info">Student's Student Number:</th>
    <th scope="col" class="info">Faculty:</th>
    <th scope="col" class="info">Unit:</th>
    <th scope="col" class="info">Topic of the Week:</th>
    <th scope="col" class="info">Test:</th>
    <th scope="col" class="info">Writing:</th>
    <th scope="col" class="info">Exam Preperation:</th> 
	<th scope="col" class="info">Assignment:</th>
    <th scope="col" class="info">Comment:</th> 
  </tr>;
  
      
      
	  <tr>
	  <td> <input type="text" name="TranscID" value="" </td>
      <td> <input type="text" name="sName" value="" </td>
      <td> <input type="text" name="sStudentNo" value=" " </td>
	  <td> <input type="text" name="faculty" value="" </td> 
	  <td> <input type="text" name="unit" value=" " </td>
	  <td> <input type="text" name="topicOfTheWeek" value=" " </td>
	  <td> <input type="text" name="test" value=" "</td>
	  <td> <input type="text" name="writing" value=" " </td>
	  <td> <input type="text" name="examPrep" value=" " </td>
	  <td> <input type="text" name="assignment" value=" "</td>
	  <td> <input type="text" name="comment" value=" " </td>
	  <td> <input type="hidden" name="hidden" value=" "</td>
	  <td> <input class="btn btn-default" type="submit" name="update" value= "  " </td>
	  <td> <input class="btn btn-default" type="submit" name="delete" value= "  " </td>
	  </tr>
 
		  }
		  
		  </table>
		  </div>
		  




</div>