<div class="container">

    <img src="images/monash-sa-logo.png" alt="Responsive image" width="250" height="57" class="img-responsive"><br>

    <h1>Administrator Page</h1><br>


    <p>&nbsp;</p>


    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th class="info">User ID:</th>
                <th class="info">First Name:</th>
                <th class="info">Last Name:</th>
                <th class="info">Email:</th>
                <th class="info">Username:</th>
                <th class="info">Faculty:</th>
                <th class="info">Unit:</th>
                <th class="info">Consultation 1:</th>
                <th class="info">Time of Consultation 1:</th>
            </tr>

            <form method="post">
                <tr>
                    <td><input type="text" name="fName" value=""></td>
                    <td><input type="text" name="lName" value=""></td>
                    <td><input type="text" name="email" value=""></td>
                    <td><input type="text" name="username" value=""></td>
                    <td><input type="text" name="faculty" value=""></td>
                    <td><input type="text" name="unit" value=""></td>
                    <td><input type="text" name="day" value=""></td>
                    <td><input type="text" name="time"value=""></td>
                    <td><input type="hidden" name="hidden" value=""></td>
                    <td><input class="btn btn-default" type="submit" name="update" value=""></td>
                    <td><input class="btn btn-default" type="submit" name="delete" value=""></td>
                </tr>
            </form>
        </table>
    </div>


</div>