 <div class="container">
    
    <img src="images/monash-sa-logo.png" alt="Responsive image" width="250" height="57" class="img-responsive"><br>
    
<h1>Administrator Page</h1><br>
    
<br>
           
          <div class="row">
          
  			<div class="col-md-12">
            
            <form>
            	<div class="row">
 <div class="col-lg-6">
			<label for="sDate">Start Date</label>
			<input  name="sDate" type="date" class="form-control" id="unit" placeholder="">
		  		</div><!-- /.col-lg-6 -->
  
    <div class="col-lg-6">
			<label for="eDate">End Date</label>
			<input  name="eDate" type="date" class="form-control" id="unit" placeholder="">
		  		</div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<p>&nbsp;</p>
 
  <div class="row">
 <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tutor<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Faculty <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
  <p>&nbsp;</p>
  

</div><!-- /.row -->

<p>&nbsp;</p>

<button type="generateReport" class="btn btn-default">Generate Report</button>

</form>

<br>


            </div>
            
  			<div class="col-md-8" align="center">
            <div id="wrapper" align="center">
            	<div class="col-lg-10" align="center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Transaction Chart 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-bar-chart">
                                
      
        <!--Load the Ajax API-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        function drawChart() {

          // Create our data table out of JSON data loaded from server.
          var data = new google.visualization.DataTable(<?=$jsonTable?>);
          var options = {
               title: 'Transaction Report',
              is3D: 'true',
              width: 560,
              height: 400
            };
          // Instantiate and draw our chart, passing in some options.
          // Do not forget to check your div ID
          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
        </script>
     
        <!--this is the div that will hold the pie chart-->
        <div id="chart_div"></div>
      
                                
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
               </div>
               
              <p>&nbsp;</p>
            
           <button type="button" class="btn btn-default"><a href="Admin_report2.php">View as BarChart</a></button>
            </div>
		  </div>
</div>