<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MSA Tutoring</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/simple-sidebar.css" rel="stylesheet" type="text/css">
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet" type="text/css">
    <link href="node_modules/angular-ui-notification/dist/angular-ui-notification.css" rel="stylesheet" type="text/css">
    <link href="node_modules/angularjs-datepicker/dist/angular-datepicker.min.css" rel="stylesheet" type="text/css">

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-touch/angular-touch.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script src="node_modules/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script src="app.js"></script>
    <script src="controllers/controllers.js"></script>
    <script src="factory/factory.js"></script>

    <link rel="stylesheet" href="css/reset.css">


    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">
        body {
            background-color: rgba(255, 255, 255, 1);
            background-image: url(images/Survey%20Background.jpg);
            color: rgba(214, 214, 214, 1);
        }

        h1 {
            font-size: 36px;
        }
    </style>
</head>

<body ng-app="msaApp">

<header ng-controller="NavCtrl">
    <input type="checkbox" id="toggle"/>
    <label for="toggle" id="toggle-btn"></label>
    <div class="nav-icon"></div>
    <nav data-state="close">
        <ul>
            <li><a ng-click="toggleMenu()" href="#/">Home</a></li>
            <li><a ng-click="toggleMenu()" href="#/booking">Booking</a></li>
            <li><a ng-click="toggleMenu()" href="#/login">Login</a></li>
            <li><a ng-click="toggleMenu()" href="#/faq">FAQ</a></li>
        </ul>
    </nav>
</header>


<div ui-view></div>


<script src="js/index.js"></script>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>

</html>
