 <div class="container">
 
 <br>
 <br>
 <br>       
               
        <img src="images/monash-sa-logo.jpg" alt="Responsive image" width="250" height="57" class="img-responsive">
        
        <br>
        
        
        <h1>Tutoring Session Booking</h1><br><br>
        
        <div class="row">
  <div class="col-xs-12 col-md-12">
  <form action="<?php echo $editFormAction; ?>" name="booking" method="POST" id="booking">
         
         <div class="form-group">
    <label for="Name">Name</label>
    <input name="Name" type="text" class="form-control" id="Name" placeholder="Enter Your Name">
         </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input name="Email" type="email" class="form-control" id="Email" placeholder="example@student.monash.edu">
  </div>
  
  <br>
  
  
  <div class="form-group">
  <label class="radio-inline"><input type="radio" name="optradio">Individual Consultation</label>
<label class="radio-inline"><input type="radio" name="optradio">Group Consultation</label>
</select>
 </div>
 <br>

         
        <div class="row">
 <div class="col-lg-6">
 
    <div class="form-group">
  <label for="faculty">Faculty</label>
  <select class="form-control" id="faculty" name="Faculty">
  	<option></option>
    <option>School of I.T</option>
    <option>School of Business Science</option>
    <option>School of Health Sciences</option>
    <option>School of Social Sciences</option>
  </select>
</div>
  </div><!-- /.col-lg-6 -->
  
    <div class="col-lg-6">
    <div class="form-group">
    <label for="unit">Unit</label>
    <input type="unit" name="Unit" class="form-control" id="unit" placeholder="e.g. MSA2016">
  </div>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

  <div class="row">
 <div class="col-lg-4">
    <div class="form-group">
  <label for="tutor">Tutor</label>
  <select class="form-control" id="tutor" name="Tutor">
  	<option></option>
    <option>Jane</option>
    <option>John</option>
    <option>Bob</option>
    <option>Alice</option>
  </select>
 </div>
  </div><!-- /.col-lg-6 -->


  
  <div class="col-lg-4">
    <div class="form-group">
  <label for="tutor">Day</label>
  <select class="form-control" id="tutor" name="Day">
  	<option></option>
    <option>Monday</option>
    <option>Tuesday</option>
    <option>Wednesday</option>
    <option>Thursday</option>
    <option>Friday</option>
  </select>
</div>
  </div><!-- /.col-lg-6 -->

  <div class="col-lg-4">
    <div class="form-group">
  <label for="time">Time</label>
  <select class="form-control" id="time" name="Time">
  	<option></option>
    <option>10:00am</option>
    <option>12:00pm</option>
    <option>15:00pm</option>
    <option>17:00pm</option>
  </select>
</div>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

 <button type="Book" class="btn btn-default">Book Session</button>
 <input type="hidden" name="MM_insert" value="booking">
  </form></div>
  <div class="col-xs-6 col-md-4"></div>
</div>
        
 </div>