<div class="container">

    <br>
    <br>
    <br>

    <img src="images/monash-sa-logo.png" alt="Responsive image" width="250" height="57" class="img-responsive">

    <br>
    <br>

    <h1>Welcome to MSA Tutor</h1>

    <br>

    <div class="tab-content">
        <div class="tab-pane active" id="Home">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="images/Stratagem-Tutors.jpg" alt="..." align="centre">
                        <div class="carousel-caption">

                        </div>
                    </div>

                    <div class="item">
                        <img src="images/8031643273_6621b53d8f_z.jpg" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>

                    <div class="item">
                        <img src="images/21203475419_b8b32ffe7c_k.jpg" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>

                    ...
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>
