<div class="container">


    <div class="row">

        <p>&nbsp; </p>

        <div class="col-xs-12 col-md-8">
        </div>

        <div class="col-xs-6 col-md-4">

            <br>
            <br>
            <br>

            <img src="images/monash-sa-logo.jpg" alt="Responsive image" width="250" height="57" class="img-responsive">

            <br>


            <h1>Login Page</h1><br><br>


            <form id="LoginForm" name="LoginForm" method="POST">
                <div class="form-group" align="left">

                    <div class="form-group">
                        <label for="UserName"> Username</label>
                        <br>
                        <input class="form-control" type="text" name="UserName" id="UserName" placeholder="Username">

                    </div>

                    <div class="form-group">
                        <label for="Password">Password</label>
                        <br>
                        <input class="form-control" type="password" name="Password" id="Password"
                               placeholder="Password">
                    </div>
                    <input class="btn btn-default" type="submit" name="LoginButton" id="LoginButton" value="Login">

                    <a href="UserReg.php">Tutor Registration Here </a>
                </div>
            </form>


        </div>
    </div>
</div>