<div class="container">

	<div class="row">
      <div class="col-xs-6 col-md-3"></div>
      <div class="col-xs-6 col-md-6">
      
      <div id="logo" align="center">
      <img src="images/monash-sa-logo.jpg"   alt="Responsive image" width="250" height="57" class="img-responsive" >
      </div>
      
      <h1 align="center">Tutor Registration</h1>
  
    <form id="form1" name="form1" method="post" action="<?php echo $editFormAction; ?>">
    <div class="form-group">
      
       
            <label for="FirstName">First Name</label><br>
        <span id="sprytextfield3">
              <input class="form-control" type="text" name="FirstName" id="FirstName">
            <span class="textfieldRequiredMsg">A value is required.</span></span>
            
            <br>
            
            <label for="LastName">Last Name</label><br>
            <span id="sprytextfield4">
              <input class="form-control" type="text" name="LastName" id="LastName">
            <span class="textfieldRequiredMsg">A value is required.</span></span>
         
        <br>
          
            <label for="Email">Email</label><br>
            <span id="sprytextfield1">
            <input class="form-control" type="text" name="Email" id="Email">
            <span class="textfieldRequiredMsg">A value is required.</span><span class="textfieldInvalidFormatMsg">Invalid format.</span></span>
            
           <br>
            
            <label for="UserName">Username</label>
           <br>
            <span id="sprytextfield5">
              <input class="form-control" type="text" name="UserName" id="UserName">
            <span class="textfieldRequiredMsg">A value is required.</span></span>
            
            <br>
            
            <label for="Password">Password</label>
            <br>
            <span id="sprytextfield2">
              <input class="form-control" type="password" name="Password" id="Password">
             <span class="textfieldRequiredMsg">A value is required.</span></span>
             
              <br>
             
            <label for="Password">Confirm Password</label>
            <br>
            <span id="spryconfirm1">
            <input class="form-control" type="password" name="Password2" id="Password2">
            <span class="confirmRequiredMsg">A value is required.</span><span class="confirmInvalidMsg">The values don't match.</span></span><br>
            
            <div class="row">
		<div class="col-lg-6"> 
		  <label for="faculty">Faculty</label>
		
		  <select class="form-control" id="faculty" name="Faculty">
		    <option></option>
		    <option>School of I.T</option>
		    <option>School of Business Science</option>
		    <option>School of Health Sciences</option>
		    <option>School of Social Sciences</option>
		    </select>
		  </div><!-- /.col-lg-6 -->
  
		<div class="col-lg-6">
			<label for="unit">Unit</label>
			<span id="sprytextfield6">
			<input type="unit" name="Unit" class="form-control" id="unit" placeholder="e.g. MSA2016">
			<span class="textfieldRequiredMsg">A value is required.</span></span>
			
		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-6">
		  <label for="day">Day</label>
		  
		  <select class="form-control" id="day" name="day">
		    <option></option>
		    <option>Monday</option>
		    <option>Tuesday</option>
		    <option>Wednesday</option>
		    <option>Thursday</option>
		    <option>Friday</option>
		    </select>
		 </div><!-- /.col-lg-6 -->
  
		<div class="col-lg-6">
			<label for="time">Time</label>
			<span id="sprytextfield7">
			<input  name="Time" type="time" class="form-control" id="unit" placeholder="e.g. 10:00AM">
		  <span class="textfieldRequiredMsg">Enter a time.</span></span>		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
            
            
        <input type="submit" name="SubmitUserForm" id="SubmitUserForm" value="Register User">
       
      <input class="btn btn-default" type="hidden" name="MM_insert" value="form1">
      </div>
    </form>
    </div>
	  <div class="col-xs-6 col-md-3"></div>
	</div>
    </div>