<div class="container">

<img src="images/monash-sa-logo.jpg" alt="Responsive image" width="250" height="57" class="img-responsive">

<h1>Peer Collaborator Transaction</h1>

<div class="row">
  <div class="col-md-8">
  	
    <form action="<?php echo $editFormAction; ?>" name="survey" method="post" id="survey">

      <div class="form-group">
        <label for="name">Student's Full Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Student Name" name="name">
      </div>
         
         <div class="form-group">
        <label for="stdNum">Student Number of Student</label>
        <input type="number" class="form-control" id="stdNum" placeholder="Enter Student Number here" name="stdNum" min="20000000" max="99999999" maxlength="8">
         </div>
         
          <div class="row">
 <div class="col-lg-6">
 
    <div class="form-group">
  <label for="faculty">Faculty</label>
  <select class="form-control" id="faculty" name="Faculty">
  	<option></option>
    <option>School of I.T</option>
    <option>School of Business Science</option>
    <option>School of Health Sciences</option>
    <option>School of Social Sciences</option>
  </select>
</div>
  </div><!-- /.col-lg-6 -->
  
    <div class="col-lg-6">
    <div class="form-group">
    <label for="unit">Unit</label>
    <input type="unit" name="Unit" class="form-control" id="unit" placeholder="e.g. MSA2016">
  </div>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<p>&nbsp;</p>
<h2>Transactions</h2>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <label class="checkbox-inline"><input type="checkbox" value="" name="TopicOfTheWeek"><p><strong>Topic of the Week</strong></p></label>
      
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
  <div class="col-lg-6">
    <div class="input-group">
      <label class="checkbox-inline"><input type="checkbox" value="" name="Test"><p><strong>Test</strong></p></label>
      
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
  <div class="col-lg-6">
    <div class="input-group"><label class="checkbox-inline">
      <input type="checkbox" value="" name="Writing"><p><strong>Writing</strong></p></label>
      
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
  <div class="col-lg-6">
    <div class="input-group">
     <label class="checkbox-inline"><input type="checkbox" value="" name="ExamPrep"><p><strong>Exam Prep</strong></p></label>
     
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
 
  <div class="col-lg-6">
    <div class="input-group">
     <label class="checkbox-inline"><input type="checkbox" value="" name="Assignment"><p><strong>Assignment</strong></p></label>
     
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
      <p>&nbsp;</p>
<p><strong>Peer Collaborator Comments</strong></p>  
<span id="sprytextarea1">
<textarea class="form-control" rows="4" name="Comment"></textarea>
<span class="textareaRequiredMsg">A value is required.</span></span>
	
   <p>&nbsp;</p>
     
  <button type="submit" class="btn btn-default">Submit Survey</button>
  <button type="reset" class="btn btn-default">Reset Survey</button>
  <input type="hidden" name="MM_insert" value="survey"> 
    </form>
  <p>&nbsp;</p>  
  </div>
  <div class="col-md-4"></div>
</div>
	

<a href="Logout.php">Log Out</a> | <a href="Admin3.php">Admin</a>

</div>